#hd a {
  text-decoration: none;
}
#hd .gnb:hover ul {
  max-height: 180px !important;
}
#hd .gnb .d1 .gnb_d1_a {
  color: black;
  font-size: 1.2rem;
}
#hd .gnb .d1 ul {
  min-width: 80px;
  white-space: nowrap;
  background-color: black;
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
  padding: 0 1rem !important;
  border: 0 !important;
}
#hd .gnb .d1 ul::before, #hd .gnb .d1 ul::after {
  content: "";
  display: block;
  height: 16px;
}
#hd .gnb .d1 ul.d1_ul_left {
  left: -1rem;
}
#hd .gnb .d1 ul li a {
  font-size: 0.9rem;
  color: white;
}