#hd h1, #hd .iconMenu {
  width: 0;
}
#hd a {
  color: black;
  text-decoration: none;
}
#hd h1 a {
  white-space: nowrap;
}
#hd .gnb .gnb_li:hover .gnb_a {
  color: red;
}
#hd .gnb .gnb_li:hover .gnb_ul {
  max-height: 180px;
  border-radius: 0 0 30px 30px;
  border-bottom: 1px solid #ccc;
}
#hd .gnb .gnb_li .gnb_a {
  font-size: 1.2rem;
}
#hd .gnb .gnb_li .gnb_ul {
  background-color: white;
  padding-left: 0;
  margin-bottom: 0;
  min-width: 8rem;
  text-align: center;
  border: 1px solid #ccc;
  border-top: 0;
  border-bottom: 0;
  border-radius: 0;
  transform: translateX(-50%);
  left: 50%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  transition: border-radius 0.5s 1s;
}
#hd .gnb .gnb_li .gnb_ul::before, #hd .gnb .gnb_li .gnb_ul::after {
  content: "";
  display: block;
  height: 1rem;
}
#hd .iconMenu i {
  white-space: nowrap;
}